@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: medium;
  color: black;
  background-color: whitesmoke;
}

.logo-heading {
  font-size: x-large;
  padding: 1rem;
  display: block;
  cursor: pointer;
}

.nav-item {
  padding: 1rem;
  margin: 0 5px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
}
.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item:hover {
  transition: font-size 0.3s ease-in;
  font-size: 17px;
  cursor: pointer;
  filter: drop-shadow(3px 3px 4px #000000);
}

#new-book:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 4px #000000);
  padding: 6px;
  transition: padding 0.3s ease-in;
}

#new-book {
  border-radius: 5px;
  padding: 5px;
}

ul {
  list-style: none;
}

li {
  background-color: white;
  margin: 1rem;
  height: 200px;
  border-radius: 20px;
  width: 50%;
  filter: drop-shadow(3px 3px 8px #000000);
}

#book-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* opacity: 80%; */
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 50%;
  background-color: whitesmoke;
  position: relative;
  border-radius: 15px;
}

.input-field {
  border-radius: 15px;
  padding: 0.3rem;
  background-color: #e7e7e7;
  color: black;
  font-size: large;
}

.input-labels {
  font-size: larger;
}

.input {
  margin: 0.5rem 0;
}

#close-btn-div {
  top: 5px;
  right: 5px;
  position: absolute;
}

#close-btn {
  background-color: black;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

#form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

#add-book {
  border-radius: 15px;
  padding: 0.2rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

.book-name {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.book-author {
  padding-top: 1rem;
  padding-left: 1em;
  padding-right: 1rem;
}

.checkbox-label {
  margin-top: 2rem;
}
